.menu-search-window{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 30px;
}
.menu-search-window_text-field{
    border: 0.5px solid #CCCCCC;
    box-sizing: border-box;
    box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.25);
    padding: 0 7px;
    overflow: scroll;
    box-sizing: border-box;
    height: 30px;
    width: 450px;
    display: inline-block;
}
.menu-search-window_btn{
    height: 30px;
    width: 60px;
    display: inline-block;
    vertical-align: top;
    transform: translateX(-5px);
}
.menu-search-window_btn-image{
    height: 60%;
    object-fit: contain;
}
