{#レイアウトを継承します#}
{% extends "layout/layout.twig" %}

{#HTMLのタイトルを定義します。#}
{% block title %}TOP{% endblock %}

{# 適用させたいスタイルシートのパスを指定します #}
{% block header_scripts_add %}
{% endblock %}

{#ここから表示したい情報を記載します。#}
{% block page_content %}

<form action="{{ path_for('upload_post') }}" enctype="multipart/form-data" method="post">
	<label>画像/動画アップロード</label>
	<input type="file" name="files">
	ユーザID
	<input type="text" name="base[user_id]">
	アーティストID
	<input type="text" name="base[artist_id]">
	音楽ID
	<input type="text" name="base[music_id]">
	説明文
	<input type="text" name="base[description]">
	
	コールについて
	時間
	<input type="text" name="explanations[0][time]">
	解説
	<input type="text" name="explanations[0][text]">
	タイプ
	<input type="text" name="explanations[0][type]">





	<br>
	<input type="submit" value="アップロード">
</form>
	
	
{% for file_name in file_name_list %}
	{{ file_name }}をアップロードしました。
{% endfor %}
	
{% endblock %}

{#共通フッタとして追記したい情報を記載します。#}
{% block footer_scripts_add %}{% endblock %}