{% block play_explanation %}
    <div class="play-play_explanation">
        <span id="js-video_{{ id }}" class="play-play_explanation-time" onclick="toPlayBack(this)">{{ time }}</span> <span>{{ value }}</span>
    </div>
{% endblock %}
