{#レイアウトを継承します#}
{% extends "layout/layout.twig" %}

{#HTMLのタイトルを定義します。#}
{% block title %}TOP{% endblock %}

{# 適用させたいスタイルシートのパスを指定します #}
{% block header_scripts_add %}
    <link rel="stylesheet" href="/assets/css/top/index.css">
{% endblock %}

{#ここから表示したい情報を記載します。#}
{% block page_content %}
    <div class="box">
      <div class="d-flex flex-wrap bd-highlight mb-3 justify-content-around">
          {% for item in range(0,10) %}
            <div class="my-5 mx-2">
              {% include 'top/item.twig' %}
            </div>
          {% endfor %}
          <div class="my-5 mx-2" style="width: 18rem;">

          </div>
      </div>
    </div>
{% endblock %}

{#共通フッタとして追記したい情報を記載します。#}
{% block footer_scripts_add %}{% endblock %}
