{% block top_movie_item %}
    <div class="card" style="width: 18rem;">
        <a href="#">
            <img src="https://picsum.photos/1000/1000" class="card-img-top" alt="動画タイトル">
        </a>
        <div class="card-body">
            <img src="https://picsum.photos/200/200" alt="ユーザーアイコン">
            <div class="l-moive-note">
                <span>曲名</span>/<span>アーティスト</span>
            </div>
        </div>
    </div>
{% endblock %}
