{#レイアウトを継承します#}
{% extends "layout/layout.twig" %}

{#HTMLのタイトルを定義します。#}
{% block title %}投稿{% endblock %}

{# このページに適用させたいスタイルシートを指定します #}
{% block header_scripts_add %}
    <link rel="stylesheet" href="/assets/css/postVideo/index.css">
{% endblock %}

{#ここから表示したい情報を記載します。#}
{% block page_content %}

    <div class="box">
        <div class="row">
            <div class="col-6">
                <video src="/assets/videos/IMG_0658.MOV" class="post_video_item" height="300px" width="100%" alt="動画タイトル"></video>
                <!-- <form>
                    <input type="file" name="movie_file" ><br>
                </form> -->
                <div class="row align-items-center mb-3">
                    <label class="col-auto">アーティスト：</label>
                    <div class="col">
                        <input type="text" class="form-control" placeholder="アーティスト名">
                    </div>
                </div>
                <div class="row align-items-center mb-3">
                    <label class="col-auto">曲名：</label>
                    <div class="col">
                        <input type="text" class="form-control" placeholder="曲名">
                    </div>
                </div>
                <div>
                    <div>説明</div>
                    <textarea class="form-control" placeholder="説明" rows="5"></textarea>
                </div>
            </div>
            <div class="col-6">
                <div>掛け声</div>
                <div class="mb-5">
                    <div class="row mb-3">
                        <div class="col-3">
                            <input type="time"name="vtime" id="postVideo_shout_time" class="form-control">
                        </div>
                        <div class="col">
                            <input type="text" name="vtext" id="postVideo_shout_value" class="form-control" placeholder="掛け声" list="list_voice">
                            <datalist id="list_voice">
                                <option value="シャウト">
                                <option value="曲を歌う">
                                <option value="合いの手">
                            </datalist>
                        </div>
                    </div>
                    <div class="text-right">
                        <button type="button" class="btn btn-primary" onclick="onButtonClick1()" >追加</button>
                    </div>
                    <div class="post_video-list" id="js-postVideo-shout"></div>
                </div>
                <div>ペンライトの振り方</div>
                <div class="mb-5">
                    <div class="row mb-3">
                        <div class="col-3">
                            <input type="time" id="postVideo_hand_time" name="ptime" class="form-control">
                        </div>
                        <div class="col">
                            <input type="text" id="postVideo_hand_value" name="pen_text" class="form-control" placeholder="ペンライトの振り方" list="list_pen">
                            <datalist id="list_pen">
                                <option value="前後に振る">
                                <option value="横に振る">
                                <option value="手首で回す">
                            </datalist>
                        </div>
                    </div>
                    <p><span id="ptime"></span><span id="ptext"></p>
                    <div class="text-right">
                        <button type="button" class="btn btn-primary" onclick="onButtonClick2()">追加</button>
                    </div>
                    <div class="post_video-list" id="js-postVideo-hand"></div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{#共通フッタとして追記したい情報を記載します。#}
{% block footer_scripts_add %}
<script type="text/javascript" language="javascript" src="/assets/js/postVideo/index.js">

</script>



{% endblock %}
